<div class="container">

  <h1>Welcome to your new Lecturing assistant, Igor</h1>
  <form ng-submit="$ctrl.login()">
    <div>
      <md-input-container>
        <label>Email</label>
        <input required type="email" ng-model="$ctrl.user.email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input required type="password" ng-model="$ctrl.user.password">
      </md-input-container>
      <md-button type="submit">
        Log In
      </md-button>
    </div>
    <div>
      <md-button ng-click="$ctrl.register()">
        Register
      </md-button>
      <md-button ng-click="$ctrl.forgot()">
        Forgot Password?
      </md-button>
    </div>
  </form>

</div>