<div class="container">

	<div>
		<div class="h2">Please Log In:</div>
		<form>
			<form class="form">
				<div class="form-group">
					<label for="email">Email:</label>
					<input class="form-control" type="email" ng-model="user.email">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input class="form-control" type="password" ng-model="user.password">
				</div>
				<div class="button-group">
					<button class="btn btn-primary" type="submit" ng-click="login()">Login</button>
					<button class="btn btn-primary" type="submit" ng-click="register()">Register</button>
				</div>
			</form>
			<div class="alert alert-danger" ng-show="authErr">{{authErr}}</div>
		</form>
	</div>

</div>