<div class="container">
	<!--Header-->
	<div class="container-fluid" ng-if="!loaded">
		<p class="text-center">
			<i class="fa fa-spin fa-cog fa-5x"></i>
		</p>
	</div>
	<div ng-if="loaded">
		<div class="panel panel-default">
			<div class="panel-heading">
				HELLO {{myself.email}} - {{myRoom.name}}
			</div>
			<div class="panel-body" ng-repeat="question in qc.convertObject(myRoom.questions) | orderBy:'time'">
				<div>
					{{question.author}} asked: {{question.body}} <button ng-click="qc.answer(question)" class="btn pull-right btn-xs btn-success">Answered</button>
				</div>
				<div>
					<span am-time-ago="{{question.time}}"></span>.
				</div>
			</div>
		</div>
	</div>


</div>