<h1>DISCO</h1>

<div class="container-fluid">
	<!--Heading-->
	<div class="panel panel-default">
		<div class="panel-heading">
			{{classroom.name}}
			<button class="btn btn-info btn-xs pull-right" ui-sref="dashboard">Back to Dashboard</button>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-body">
					{{classroom.description}}
				</div>
			</div>
			<!--Topic Track-->
			<div class="panel panel-default">
				<div class="panel-heading">
					Topic List:
				</div>
				<div ng-if="!isStudent" class="panel-body">
					<form class="form-inline" ng-submit="addTopic(newTopic); newTopic={};">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="newTopic.body" placeholder="New Topic">
						</div>
						<button type="submit" class="btn btn-success">Add</button>
					</form>
					<button class="btn btn-danger pull-right" ng-click="stopLecture()">End Lecture</button>
					<button class="btn btn-success pull-right" ng-click="startLecture()">Start Lecture</button>
				</div>
				<div class="panel-body" ng-if="!classroom.topicTrack || !classroom.isLecturing && isStudent">
					No Topics Currently Loaded
				</div>
				<div ng-if="!isStudent || classroom.isLecturing" class="well well-sm" ng-repeat="topic in classroom.topicTrack track by $index">
					{{topic.body}} - <span ng-if="!isStudent" class="text-danger" ng-click="removeTopic($index)">X</span>
					<span ng-if="isStudent">res:{{myResponse}}</span>
					<span ng-if="!isStudent"> - Total Res: {{myVars.topic[$index].stop+myVars.topic[$index].slow+myVars.topic[$index].go}}</span>
					<button ng-if="isStudent" class="col-xs-1 btn btn-danger btn-xs pull-right" ng-click="respond($index, 'stop')"><i class="fa fa-inverse fa-ban"></i></button>
					<div ng-if="!isStudent" class="col-xs-1 text-danger pull-right"> {{myVars.topic[$index].stop = getResponse($index, 'stop')}} </div>
					<div class="col-xs-1 pull-right"></div>
					<button ng-if="isStudent" class="col-xs-1 btn btn-warning btn-xs pull-right" ng-click="respond($index, 'slow')"><i class="fa fa-exclamation-triangle"></i></button>
					<div ng-if="!isStudent" class="col-xs-1 text-warning pull-right"> {{myVars.topic[$index].slow = getResponse($index, 'slow')}} </div>
					<div class="col-xs-1 pull-right"></div>
					<button ng-if="isStudent" class="col-xs-1 btn btn-success btn-xs pull-right" ng-click="respond($index, 'go')"><i class="fa fa-arrow-circle-right"></i></button>
					<div ng-if="!isStudent" class="col-xs-1 text-success pull-right"> {{myVars.topic[$index].go = getResponse($index, 'go')}} </div>
					<div ng-if="!isStudent" class="col-xs-1 col-xs-1 pull-right"></div>
					<button ng-if="!isStudent" class="col-xs-1 btn btn-success btn-xs pull-right" ng-click="queueTopic($index)"> Queue </button>
				</div>
			</div>
		</div>
	</div>
</div>