<div class="container-fluid">
	<!--Heading-->
	<div class="container-fluid" ng-if="!loaded">
		<p class="text-center">
			<i class="fa fa-spin fa-cog fa-5x"></i>
		</p>
	</div>
	<div class="panel panel-default" ng-show="loaded && !joined">
		<div class="panel-heading">JOIN OR DIE</div>
		<div class="panel-body">
			<button class="btn btn-primary btn-xs" ng-click="cc.joinClassroom(cc.classroom)">JOIN CLASSROOM</button>
			<small>OR DIE</small>
		</div>
	</div>
	<!--CONTENT-->
	<div class="panel panel-default" ng-show="loaded && joined">
		<div class="panel-heading">
			{{cc.classroom.name}}
			<button class="btn btn-info btn-xs pull-right" ui-sref="dashboard">Back to Dashboard</button>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-body">
					{{cc.classroom.description}}
				</div>
			</div>
			<!--Topic Track-->
			<div class="panel panel-default">
				<div class="panel-heading">
					Topic List:
				</div>
				<div ng-show="!cc.isStudent" class="panel-body">
					<form class="form-inline" ng-submit="cc.addTopic(newTopic); newTopic={};">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="newTopic.body" placeholder="New Topic">
						</div>
						<button type="submit" class="btn btn-success">Add</button>
					</form>
					<button class="btn btn-danger pull-right" ng-click="cc.stopLecture()">End Lecture</button>
					<button class="btn btn-success pull-right" ng-click="cc.startLecture()">Start Lecture</button>
				</div>
				<div class="panel-body" ng-show="!cc.classroom.topicTrack || !cc.classroom.isLecturing && cc.isStudent">
					No Topics Currently Loaded <span ng-show="!cc.classroom.isLecturing">- Session has not started yet</span>
				</div>
				<div ng-show="!cc.isStudent || cc.classroom.isLecturing" class="well well-sm" ng-repeat="topic in cc.classroom.topicTrack track by $index">
					{{topic.body}} - <span ng-show="!cc.isStudent" class="text-danger" ng-click="cc.removeTopic($index)">X</span>
					<span ng-show="cc.isStudent">res:</span>
					<span ng-show="!cc.isStudent"> - Total Res: {{cc.myVars.topic[$index].stop+cc.myVars.topic[$index].slow+cc.myVars.topic[$index].go}}</span>
					<button ng-show="cc.isStudent" class="col-xs-1 btn btn-danger btn-xs pull-right" ng-click="cc.respond($index, 'stop')"><i class="fa fa-inverse fa-ban"></i></button>
					<div ng-show="!cc.isStudent" class="col-xs-1 text-danger pull-right"> {{cc.myVars.topic[$index].stop = cc.getResponse($index, 'stop')}} </div>
					<div class="col-xs-1 pull-right"></div>
					<button ng-show="cc.isStudent" class="col-xs-1 btn btn-warning btn-xs pull-right" ng-click="cc.respond($index, 'slow')"><i class="fa fa-exclamation-triangle"></i></button>
					<div ng-show="!cc.isStudent" class="col-xs-1 text-warning pull-right"> {{cc.myVars.topic[$index].slow = cc.getResponse($index, 'slow')}} </div>
					<div class="col-xs-1 pull-right"></div>
					<button ng-show="cc.isStudent" class="col-xs-1 btn btn-success btn-xs pull-right" ng-click="cc.respond($index, 'go')"><i class="fa fa-arrow-circle-right"></i></button>
					<div ng-show="!cc.isStudent" class="col-xs-1 text-success pull-right"> {{cc.myVars.topic[$index].go = cc.getResponse($index, 'go')}} </div>
					<div ng-show="!cc.isStudent" class="col-xs-1 col-xs-1 pull-right"></div>
					<button ng-show="!cc.isStudent" class="col-xs-1 btn btn-success btn-xs pull-right" ng-click="cc.queueTopic($index)"> Queue </button>
				</div>
			</div>
		</div>
	</div>
</div>