<div class="h2 text-center">Welcome to your Dashboard!</div>
<div class="container-fluid" ng-if="!loaded">
	<p class="text-center">
		<i class="fa fa-spin fa-cog fa-5x"></i>
	</p>
</div>
<!--<img class="text-center" src="img/spinner.gif" alt="LOADING..." ng-if="!loaded">-->
<div class="panel panel-default" ng-if="loaded">
	<div class="panel-heading">
		Create a New Classroom:
	</div>
	<div class="panel-body">
		<form class="form-inline" ng-submit="dc.createClassroom(newClassroom); newClassroom={};">
			<div class="form-group">
				<label>Room Name:</label>
				<input class="form-control" type="text" ng-model="newClassroom.name" placeholder="{{myName}}'s Classroom">
			</div>
			<div class="form-group">
				<label>Room Description:</label>
				<input type="text" class="form-control" ng-model="newClassroom.description" placeholder="A fun place to learn!">
			</div>
			<button type="submit" class="btn btn-success">Create</button>
		</form>
	</div>
	<div class="panel-heading">
		Your Classrooms:
	</div>
	<div class="panel-body">
		<div class="panel panel-default" ng-repeat="room in classrooms track by $index">
			<div class="panel-heading">
				<div>
					Classroom: {{room.name}}<span ng-if="dc.isInstructor(room)"> - Link: <input type="text" onclick="this.focus();this.select()" value="{{dc.displayLink(room)}}" readonly="readonly"></input></span>
				</div>
				<div>
					Instructor: {{dc.convertUser(room.instructorId)}}
				</div>
			</div>
			<div class="panel-body">
				<div>
					Description: {{room.description}}
				</div>
				<button class="btn btn-success" ui-sref="classroom({classroomId: room.$id})">Enter Classroom</button>
				<button class="btn btn-danger" ng-if="!dc.isInstructor(room)" ng-click="dc.leaveClassroom(room)">Leave Classroom</button>
				<button class="btn btn-warning" ng-if="dc.isInstructor(room)" ng-click="dc.removeClassroom(room)">Delete Classroom</button>
			</div>
			<div class="panel-heading">
				Students:
			</div>
			<div class="panel-body" ng-repeat="student in room.students">
				{{dc.convertUser(student)}}
			</div>
		</div>
	</div>
</div>