<h1>Disco</h1>
<h2>Welcome to your dashboard!</h2>
<div>
	<input type="text" ng-model="classroomName" placeholder="Name">
	<button class="button button-small button-balanced" ng-click="createClassroom(classroomName)">CREATE CLASSROOM</button>
<ul>
	<li ng-repeat="room in classrooms track by room.id">
		<br />
		<div>
			Classroom: {{room.name}}
			<br />
			Instructor: {{convertUser(room.instructorId)}}
		</div>
		<button class="button button-small button-positive" ng-click="joinClassroom(room)">Join Classroom</button>
		<button class="button button-small button-assertive" ng-click="removeClassroom(room)">REMOVE</button>
		<div>Students:
			<ul>
				<li ng-repeat="student in room.students">
					{{convertUser(student)}}
				</li>
			</ul>
		</div>
	</li>
	</ul>
</div>